

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  border-radius: 10px;
  border: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-yes {
  background-color: rgb(34 197 94);
  color: white;
  font-weight: 700;
}


.btn-no {
  background-color: #f44336;
  color: white;
  font-weight: 700;
}

.btn:hover {
  filter: brightness(90%);
}